/*
  Created by Pablo Sarango on Agosto 2017.
  Copyright © 2017 ODERBIZ. All rights reserved.
*/

* {
	margin: 0;
}

body{
    height: 100vh !important;
    max-height: 100vh !important;
	min-height: 100vh !important;
	
}

#one {
  overflow: hidden;
}

div.main {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100vh !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
    
    /*Image*/
    background-image: url(img/Smartphone-vertical-320x480px.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div.main .button-acceso {
    bottom: 20px;
    position: absolute;
    width: 90%;
    left: 5%;
    height: 125px;
}

div.main .button-acceso .img-button {
    width: 100%;
    margin-left: 0%;
    height: 125px;
}



/* MEDIAS QUERIES */
@media only screen and (orientation: landscape) {
  	div.main {
        /*Image*/
        background-image: url(img/Smartphone-Horizontal-480x320px.png);
    }

    div.main .button-acceso {
      position: absolute;
      width: 45%;
      left: 27.5%;
      height: auto;
      bottom: -5px;
    }

    div.main .button-acceso .img-button {
        width: 100%;
        margin-left: 0%;
        height: auto;
    }
}

/*********************  TABLETS  **********************/

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	
      div.main {
        /*Image*/
        background-image: url(img/Tablet-vertical-768x1024px.png);
      }

      div.main .button-acceso {
        bottom: 20px;
        position: absolute;
        width: 80%;
        left: 10%;
        height: auto;
      }

      div.main .button-acceso .img-button {
        width: 100%;
        margin-left: 0%;
        height: auto;
      }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	div.main {
        /*Image*/
        background-image: url(img/Tablet-horizontal-1024x768px.png);
    }

    div.main .button-acceso {
        position: absolute;
        width: 50%;
        left: 25%;
        height: auto;
        bottom: -10px;
    }

    div.main .button-acceso .img-button {
        width: 100%;
        margin-left: 0%;
        height: auto;
    }
}

/**************** LAPTOPS ***********************/
/* and (max-device-width: 1600px) */
@media screen 
  and (min-device-width: 1200px)  
  and (-webkit-min-device-pixel-ratio: 1) { 

    div.main {
        /*Image*/
        background-image: url(img/laptop-horizontal-1280x800px.png);
    }

    div.main .button-acceso {
        position: absolute;
        bottom: -18px;
        width: 45%;
        left: 27.5%;
    }

    div.main .button-acceso .img-button {
        width: 100%;
        position: relative;
        margin-left: 0%;
    }
      
}

@media screen 
  and (min-device-width: 1680px)  
  and (-webkit-min-device-pixel-ratio: 1) { 

    div.main {
        /*Image*/
        background-image: url(img/Desktop-horizontal-1680x1050px.png);
    }

    div.main .button-acceso {
        position: absolute;
        bottom: 85px;
        width: 100%;
    }

    div.main .button-acceso .img-button {
        width: 42%;
        margin-left: 29%;
    }
      
}



