doctype html
html
	head
		title Newspoth
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="author" content="ODERBIZ")
		//--link(rel="Shortcut Icon" href="../img/iconos/servicios-2.png" type="image/x-icon")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
		link(rel='stylesheet', type='text/css', href='../css/main.min.css')
	body
		
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
		script(src='../js/main.js')